html{
    scroll-behavior: smooth;
}
.nav1 a{
    text-decoration: none;
    color: rgb(145, 47, 47);
    font-size: 1.3em;
    border: black 1px solid;
    padding: .2em .4em;

}
.nav1{
    display: flex;
    justify-content: space-evenly;

}
body{
    text-align: center;
    background-color: khaki;
}
.b{
    color: rgb(58, 38, 38);
    background-color: rgb(196, 188, 122);
    padding: .7em;
}
img{
    max-width: 100%;
}
.nav2{
    max-width: 60%;
    text-align: left;
    margin: auto;
}
.nav3 a{
    text-decoration: none;
    color: rgb(141, 47, 47);
    font-size: 1.1em;
    border: black 1px solid;
    padding: .2em .4em;
}
.nav{
    display: flex;
}
.d{
    display: none;
}
@media screen and (min-width: 25em) {
    iframe{
        width: 23em;
        height: 12.7em;
    }
}
@media screen and (min-width: 30em) {
    iframe{
        width: 28em;
        height: 15.75em;
    }
}
@media screen and (min-width: 48em) {
    iframe{
        width: 35em;
        height: 19.7em
    }
}
@media screen and (min-width: 60em) {
    iframe{
        width: 37.75em;
        height: 24.6em;
    }
    .d{
        max-width: 4em;
        display: inline-block;
        padding-top: 1em;
    }
    body{
        max-width: 60em;
        margin: auto;
    }
    .audit{
        display: block;
        margin: auto;
        padding: 1em 0em;
    }
    .nav3 a{
        border: none;
        padding: 0;
        display: flex;
        padding-top: .3em;
    }
    .nav3, .nav2{
        display: inline-block;
        margin: 0;

    }
    .foot{
        display: flex;
        justify-content: space-evenly;
        max-width: 60em;
    }
    .nav3{
        padding-top: 1em;
    }

}
